/* reset style */
input{
	margin: 0;
	padding: 0;
	/* font-family:"Microsoft YaHei"; */
	border:none;
	outline:none; 
	background:none;
}
/* 清浮动 */
.clearfix:after { 
	content:""; 
	display:block; 
	clear:both;
	visibility: none;
	overflow: hidden;
	height:0;
}
/*兼容IE6、IE7，触发ie的hasLayout属性，实现清除浮动*/
.clearfix { 
	zoom:1;
}
.fl { 
	float:left;
}
.fr { 
	float:right;
}
/* 屏幕自适应，当屏幕小于980px时，不显示我的github连接 */
@media (max-width:980px) {
	.header img {
		display: none !important;
	}
}
/* ********************************************common css style（header&footer）********************************************** */
/* 内容自适应屏幕宽度 */
.content {
	  width: 100%;  
}
/* 主内容的宽度固定为980px，左右居中 */
.model {
	width:980px;
	margin: 0 auto;
}

/* **************************************************************gallery.html******************************************************** */

#Tab-menu {
	background-color: #EEE;
} 

#Tab-menu li {
	float: left;
	display:block;
	background-color: #FFF;
	padding:15px 20px 20px;
	border-top-width: 4px;
	border-top-style: solid;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
}
#Tab-menu li a {
	color:#000;
}
#Tab-menu li.active {
	border-bottom:1px solid #FFF;
}
/* 不同颜色的上边框，hover后颜色变化的类active*/
#Tab-menu #ALL {
	border-top-color:#DFC6E6;
	border-left:none;
}
#Tab-menu #ALL.active {
	border-top-color:#522A5C;
}
#Tab-menu #JavaScript {
	border-top-color:#dfc6e6;
}
#Tab-menu #JavaScript.active {
	border-top-color:#522a5c;
}
#Tab-menu #UI {
	border-top-color:#d2a6ff;
}
#Tab-menu #UI.active {
	border-top-color:#5900b2;
}
#Tab-menu #Framework {
	border-top-color:#ffa98c;
}
#Tab-menu #Framework.active {
	border-top-color:#8c2300;
}
#Tab-menu #Application {
	border-top-color:#ffe188;
}
#Tab-menu #Application.active {
	border-top-color:#d9a300;
}

/* **********瀑布流********** */
#waterfall {
	background-color: #FFF;
	padding: 20px 10px; 
	margin-bottom: 10px; 

	-webkit-column-gap:10px;
	-moz-column-gap:10px;
	-o-column-gap:10px;
	-ms-column-gap:10px;

	-webkit-column-count:3;
	-moz-column-count:3;
	-o-column-count:3;
	-ms-column-count:3;

/*	-webkit-column-width:220px;
	-moz-column-width:220px;
	-o-column-width:220px;
	-ms-column-width:220px;*/


}
#waterfall .pic-box {
	margin-bottom: 10px;
	border:1px solid #CCC;
	box-shadow: 3px;
}
#waterfall .pic-container {
	padding: 10px 10px 10px 100px;
	position:relative;
	color:#FFF;
}

#waterfall .pic-box img {
	display: block;
	width:221px;
}
#waterfall .pic-box .pic-container  {
	width:160px;
}
/* 不同的类别的内容显示背景不同 */
#waterfall .J {
	background-color: #522A5C;	
}
#waterfall .U {
	background-color: #5900b2;	
}
#waterfall .A {
	background-color: #d9a300;	
}
#waterfall .F {
	background-color: #8c2300;	
}

.pic-container span {
	position:absolute;
	top: 10px;
	left: 10px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #DDD;
	border-radius: 28px;
	font-size: 20px;
	text-align: center;
	font-weight: normal;
}

.pic-container h3 {
	font-size: 16px;
	font-weight: normal;
}
.pic-container p {
	text-indent: 0;
	font-size: 12px;
	line-height: 170%;
}


.more {
	width: 100%;
	background-color: #FFF;
	text-align: center;
	margin-bottom:100px; 
}
.more a {
	display: block;
	line-height: 50px;
	height: 50px;
	color:#666;
}



/* *************************************************about.html css style********************************************** */
.content-div {
	padding-top: 20px;
	background-color: #EEE;
	/* 自适应高度 */
	height: 100%;
	overflow: auto;
}
/* **********主要文章部分********** */
.main-div {
	width: 710px;
}

/* **********侧面信息部分********** */
.side-div {
	width: 260px;
}
.pattern {
	margin-bottom: 10px;
	background-color: #FFF;
	color:#CCC;
}
/* **********search 搜索框********** */
.search {
	padding:20px;
}
/* 通过设置浮动，解决了之前两个行内块之间总有1px空隙的问题 */
.search input {
	display: inline;
	float:left;
	height: 38px;
	width:160px;
	padding-left:8px; 
	border: 1px solid #CCC;
	margin:0;
}
.search a {
	display: inline;
	float:left;
	background-color: #CCC;
	padding:0 10px;
	color:#FFF;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	margin:0;
}

/* **********分类********** */
ul.pattern li {
	height:52px;
	border-left: 4px solid #DFC6E6;
	border-top: 1px solid #DDD;
}

ul.pattern li.active {
	border-left: 4px solid #522A5C;
}

ul.pattern li a {
	display: block;
	padding-left: 16px;
	text-align: left;
	line-height: 52px;
	font-size: 14px;
	color:#666;
}

